
*,
* ::before,
* ::after {
    box-sizing: inherit;
}

:root{
    --font-size: 1vw;
    --color-green: #3b573a;
    --color-lgreen: #567c50;
    --color-beige: rgb(212, 182, 147);
    --color-brown: #87533c;
}

html{
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.25rem;
    background-color: var(--color-beige);

}

.grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid;
    border-color: var(--color-green);
    transition: all .2s;
}

.grid img:hover {
    border: 5px solid;
    border-color: var(--color-lgreen);
    transition: all .2s;
}

header{
    color: var(--color-beige);
    background-color: var(--color-green);
    border: 7px solid;
    border-color: var(--color-lgreen);
    text-align: center;
    font-size: calc(var(--font-size) + 25px);
    text-shadow: 3px 2px 3px rgb(126, 92, 49);
    position: sticky;
    top: 0;
    
}

header a{
    text-decoration: none;
    font-size: calc(var(--font-size) + 7px);
    background-color: var(--color-lgreen);
    border-radius: 2rem;
    padding: .5rem;
    line-height: 3rem;
    color: var(--color-beige);
    text-shadow: none;
    transition: all .8s ease-out;
}

header a:hover{
    background-color: var(--color-green);
    border: 4px solid;
    border-color: var(--color-lgreen);
    transition: all .5s;
}

header ul{
    list-style-type: none;
    margin-top: -150px;
    margin-right: 20px;
    float: right;

}

.site-intro{
    text-align: center;
    font-size: calc(var(--font-size) + 13px);
    color: var(--color-brown);
}

.grid {
width: 1100px;
height: 1300px;
margin: 0 auto;
display: grid;
grid-template-columns: repeat(8, 1fr);
grid-template-rows: repeat(10, 1fr);
grid-column-gap: 25px;
grid-row-gap: 150px;
}

.div1 { 
    grid-area: 1 / 1 / 3 / 3; 
}

.div2 { 
    grid-area: 1 / 3 / 3 / 5;
    background-color: pink; 
}


.div3 { 
    grid-area: 1 / 5 / 3 / 7;
    background-color: blue; 
}

.div4 { 
    grid-area: 1 / 7 / 3 / 9;
    background-color: blueviolet; 
}

.div5 { 
    grid-area: 3 / 1 / 5 / 3;
    background-color: bisque; 
}

.div5 p {
    font-size: calc(var(--font-size) + 1px);
    padding: .15rem;
}

.div6 { 
    grid-area: 3 / 3 / 5 / 5;
    background-color: orange; 
}

.div7 { 
    grid-area: 3 / 5 / 5 / 7;
    background-color: green; 
}

.div8 { 
    grid-area: 3 / 7 / 5 / 9;
    background-color: aqua; 
}

.div9 { 
    grid-area: 5 / 1 / 7 / 3;
    background-color: gray; 
}

.div10 { 
    grid-area: 5 / 3 / 7 / 5;
    background-color: black; 
}

.div11 { 
    grid-area: 5 / 5 / 7 / 7; 
    background-color: brown;
}

.div12 { 
    grid-area: 5 / 7 / 7 / 9;
    background-color: yellow; 
}

.div13 { 
    grid-area: 7 / 1 / 9 / 3;
    background-color: rosybrown;
}

.div14 { 
    grid-area: 7 / 3 / 9 / 5;
    background-color: royalblue; 
}

.div15 { 
    grid-area: 7 / 5 / 9 / 7;
    background-color: lawngreen; 
}

.div16 { 
    grid-area: 7 / 7 / 9 / 9;
    background-color: lightsalmon 
}

.div17 { 
    grid-area: 9 / 1 / 11 / 3; 
    background-color: lavenderblush;
}

.div18 { 
    grid-area: 9 / 3 / 11 / 5; 
    background-color: wheat;
}

.div19 { 
    grid-area: 9 / 5 / 11 / 7; 
    background-color: aquamarine;
}

.div20 { 
    grid-area: 9 / 7 / 11 / 9; 
}

.div1,
.div20 {
    color: var(--color-beige);
    background-color: var(--color-green);
    border: 4px solid;
    border-color: var(--color-lgreen);
    border-radius: 50%;
    border-style: dashed;
    font-size: calc(var(--font-size) + 5px);
    text-align: center;
    padding: 1rem;
}

/*There's probably an easier way to do this, I just haven't figured it out*/
.div2 p,
.div3 p,
.div4 p,
.div5 p,
.div6 p,
.div7 p,
.div8 p,
.div9 p,
.div10 p,
.div11 p,
.div12 p,
.div13 p,
.div14 p,
.div15 p,
.div16 p,
.div17 p,
.div18 p,
.div19 p{
    text-align: center;
    background-color: var(--color-brown);
    color: var(--color-beige);
    border-radius: 2rem;
    transition: all .3s;
}

.div2:hover,
.div3:hover,
.div4:hover,
.div5:hover,
.div6:hover,
.div7:hover,
.div8:hover,
.div9:hover,
.div10:hover,
.div11:hover,
.div12:hover,
.div13:hover,
.div14:hover,
.div15:hover,
.div16:hover,
.div17:hover,
.div18:hover,
.div19:hover{
    font-size: calc(var(--font-size) + 7px);
    transition: all .3s;
}

.div2,
.div3,
.div4,
.div5,
.div6,
.div7,
.div8,
.div9,
.div10,
.div11,
.div12,
.div13,
.div14,
.div15,
.div16,
.div17,
.div18,
.div19{
    border-radius: 50%;
}


.deals {
    text-align: center;
    text-transform: uppercase;
    max-width: 180px;
    word-wrap: break-word;
    font-size: calc(var(--font-size) + 5px);
    background-color: var(--color-brown);
    color: var(--color-beige);
    border: 4px solid;
    border-color: #764028;
    border-radius: 2rem;
    float: left;
    position: sticky;
    top: 0;
}

[type="email"] {
    max-width: 120px;
    background-color: var(--color-beige);
    border-radius: 2rem;
    transition: all .3s;
}

[type="email"]:hover{

    max-width: 130px;
    transition: all .3s;
}

hr {
    border: 1.56px solid var(--color-beige);
}


footer {
    background-color: var(--color-green);
    border: 6px solid;
    border-color: var(--color-lgreen);
    font-size: calc(var(--font-size) + 1px);
    color: var(--color-beige);
    margin-top: 150px;
}

footer ul{
    list-style-type: none;
    
}

footer a{
    text-decoration: none;
    color: var(--color-beige);
    padding: .1rem;
    background-color: var(--color-lgreen);
    border-radius: 5rem;
    font-size: calc(var(--font-size) + 5px);
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    transition: all .3s;
}

footer a:hover{
    font-size: calc(var(--font-size) + .3px);
    transition: all .3s;
}

footer img{
    height: 250px;
    width: 200px;
    object-fit: cover;
}

.rmug{
    float: right;

}

.lmug{
    float: left;
}

